Source: ros-melodic-pr2-mechanism-msgs
Section: misc
Priority: extra
Maintainer: ROS Orphaned Package Maintainers <ros-orphaned-packages@googlegroups.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-actionlib-msgs, ros-melodic-catkin, ros-melodic-message-generation, ros-melodic-std-msgs
Homepage: http://ros.org/wiki/pr2_mechanism_msgs
Standards-Version: 3.9.2

Package: ros-melodic-pr2-mechanism-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-actionlib-msgs, ros-melodic-message-runtime, ros-melodic-std-msgs
Description: This package defines services that are used to communicate with the realtime control loop.
 It also defines messages that represent the state of the realtime controllers, the joints and the actuators.
